<header>
  <nav class="container-custom flex justify-between items-center py-4">
    <a href="/" class="text-xl font-bold">Lautaro Salas Ane</a>
    <div>
      <a href="#sobre-mi">Sobre mí</a>
      <a href="#mini-gallery">Portfolio</a>
      <a href="#galeria">Galería</a>
      <a href="#contacto">Contacto</a>
    </div>
  </nav>
</header>
